<div class="fade-in">

            <div  *ngIf="lastFMPlayedCover$ as cover">
                <div class="NowPlayingImage" ><img src='{{ cover }}'>
                <br>
                <div [innerHtml]=" lastFMPlayedInvidiousLinkJoined | safe: 'html'  "></div> 
                <!-- {{ artist }} 
                <br><img style="width: 100%;height: 10px; pointer-events:none;" src="https://i.gifer.com/YdBO.gif" ><br>
                {{ title }} -->
            </div>
            </div>
  
    </div>