<ng-container class="fade-in" *ngIf="{

    artist: lastFMPlayedArtist$ ,
    cover: lastFMPlayedCover$ ,
    title: lastFMPlayedTitle$

} as observables;">
    
<!-- <img class=\"NowPlayingImage\" src=\"",data['recenttracks']['track'][0]['image'][2]['#text'] ,"\" > -->
    <!-- <div  > -->
    <div class="NowPlayingContainer">
        <img src="{{ observables.cover }}"> 
        <div [innerHtml]="lastFMPlayedInvidiousLinkJoined | safe: 'html'  "> 
                <!-- {{ observables.artist }}  -->
                <!-- <img style="width: 100%;height: 10px; pointer-events:none;" src="https://i.gifer.com/YdBO.gif" > -->
                <!-- {{ observables.title }} -->
        </div>
    </div>
    <!-- </div> -->

</ng-container>