<div class="fade-in">
<div class="NowPlaying" *ngIf="lastFMPlayedArtist$ as artist">
    <div class="NowPlaying" *ngIf="lastFMPlayedTitle$ as title">
        <div class="NowPlaying" *ngIf="lastFMPlayedCover$ as cover">
            <div [innerHtml]=" lastFMPlayedInvidiousLinkJoined | safe: 'html'  "></div> <br>
            <img style="pointer-events:none;" src='{{ cover }}'>
            <br>
            <br>
            {{ artist }} <br>
            <img style="width: 100%;height: 10px; pointer-events:none;" src="https://i.gifer.com/YdBO.gif" >  <br>
            {{ title }}
        </div>
    </div>
</div>
</div>