    <div class="fade-in-godsays LadBibleContainer">
    <img class="LadBibleImage" alt=""  src="https://64.media.tumblr.com/9c177a66476ec3c5a0e9988530e1edab/tumblr_mud4qkVIBQ1s5jjtzo1_400.gifv">
<div   *ngIf="ladBibleBook$ as book">
    <div class="LadBibleText"  *ngIf="ladBibleVerse$ as verse">
        <div class="LadBibleText"  *ngIf="ladBibleChapter$ as chapter">
            <div class="LadBibleText"  *ngIf="ladBibleText$ as text">
            {{ book }} - {{ chapter }}:{{ verse }} <br>
            {{ text }}
    </div>
</div>
</div>