
.projects-container {
    border: 7px solid rgb(128, 94, 0);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  
  .github-accordion-panel{
    /* border: 15px solid rgb(134, 204, 43); */
  }
  
  .github-accordion-panel-title {
    /* border: 15px solid rgb(204, 0, 153); */
  }
  .projects-accordion-content-container {
    /* border: 15px solid rgb(24, 204, 0); */
  }
  
  
  .ProjectsText {
    /* border: 7px solid rgb(255, 0, 93); */
    font-family: Px437_IBM_Conv;
    font-size: clamp(5px, 3vw, 10px);
    /* color: #FFFFFF; */
    background-color: #00000000;
    /*#FFFFFF*/
  
  }