

.contacts-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
  
  .contacts-container-title{
  
  
  }
  
  .ContactsText{
  
    
  }
  
  .ContactURLS {
    font-family: Px437_IBM_Conv, monospace;
    font-size: clamp(5px, 3vw, 10px);
    color: #B9B156;
    /*#00AAAA*/
    text-decoration: none;
    opacity: 1;
    width: fit-content;
  
  }
  