<h1 class="TopTitle">* Justin Diaz</h1>
<mat-accordion *ngFor="let list of list">
  <mat-expansion-panel #thisPanel >
    <mat-expansion-panel-header >

      <mat-panel-title class="ListTitle">

        {{ thisPanel.expanded ? (list.title | slice:0:-3)   : list.title  }}

      </mat-panel-title>
    </mat-expansion-panel-header>

<!-- <h2 class = "ListContent">- Github</h2>
<div class="gitcard">
<div id="github-card"
     data-username="simonphoenix96">
</div>
</div> -->




  </mat-expansion-panel>
  <mat-accordion>
