@font-face {
  font-family: Px437_PhoenixEGA_8x8;
  src: local("Px437_PhoenixEGA_8x8"),
       url(/assets/fonts/Px437_PhoenixEGA_8x8.ttf) format('truetype');
}

.emacs_title{
font-family: Px437_PhoenixEGA_8x8, monospace;
font-weight: 200;
font-size:13px;
color: purple;
}
