@font-face {
  font-family: Px437_PhoenixEGA_8x8;
  src: local("Px437_PhoenixEGA_8x8"),
       url(/assets/fonts/Px437_PhoenixEGA_8x8.ttf) format('truetype');
}

.TopTitle{
font-family: Px437_PhoenixEGA_8x8, monospace;
font-weight: 200;
font-size:16px;
color: purple;
}

.ListTitle{
font-family: Px437_PhoenixEGA_8x8, monospace;
font-weight: 200;
font-size:14px;
color: purple;
position: sticky;
}

.mat-expansion-indicator {
  color: rgba(0,0,0,0);
}


body {
    background-color: black;
}
