@import url("assets/css/scanlines.css");
@font-face {
  font-family: Px437_IBM_Conv;
  src: url(/assets/fonts/Px437_IBM_Conv.ttf) format('truetype');
}

@font-face {
  font-family: IBM-Logo;
  src: url(/assets/fonts/IBM-Logo.ttf) format('truetype');
}


/* https: //www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml */

.TopTitle {
  font-family: IBM-Logo;
  font-size: 45px;
  font-weight: 200;
  color: #FFFFFF; /*#00AA00;*/
  margin-top: 1%;
  margin-left: -1%;

}


.ListTitle {
  font-family: Px437_IBM_Conv;
  font-size: 16px;
  color:#FFFFFF; /*#FFFFFF*/
  margin-top:5%;
  margin-left:  -25px;
  opacity: 0.7;
  margin-bottom: -1%;

}

.ListTitle:hover{
  color: #FFFFFF;
  opacity: 1;
}


.AboutText {
  position: sticky;
  font-family: Px437_IBM_Conv;
  font-size: 11px;
  color: #FFFFFF; /*#FFFFFF*/
  padding-left: 1%;
  padding-top: -5%;



}

.ProjectsText {
  position: sticky;
  font-family: Px437_IBM_Conv;
  font-size: 11px;
  color: #FFFFFF;
  padding-left: 1%;
  padding-top: -5%;
}

.ContactURLS{
  position: sticky;
  font-family: Px437_IBM_Conv, monospace;
  color: #B9B156; /*#00AAAA*/
  text-decoration: none;
  opacity: 1;
  padding-left: 1%;

}

.PicOfMe {
  float: right;
  display: inline;
  /* margin: 0 0 10px 20px; */
  width: 20%;
  padding-right: 10%;



}

.mat-expansion-indicator {
  color: rgba(0, 0, 0, 0);

}

#page-container {
  position: relative;
  min-height: 88vh;



}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */

}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
  text-align: center;
  font-family: Px437_IBM_Conv, monospace;
  font-weight: 200;
  font-size: 8px;
  color: #FFFFFF;
  opacity: 0.6;

}

body {
  padding-left: 50px;
  padding-top: 50px;

}

a {
  font-family: Px437_IBM_Conv, monospace;
  color: #C8B907;
  text-decoration: none;
  opacity: 0.8;

}
a:hover {
  opacity: 1}

* {
  background-color: #050D68;
}
