<!-- <mat-tab-group class="projects-tab-group">
    <mat-tab *ngFor="let repo of pinnedGithubRepos$">{{repo.repo}}</mat-tab>
</mat-tab-group> -->

<ngb-accordion [closeOthers]="true" class="projects-tab-group" #acc="ngbAccordion">
    <ngb-panel *ngFor="let repo of pinnedGithubRepos$" title={{repo.repo}} class="projects-panel" >
        <ng-template ngbPanelContent>
            <div class="ProjectsText">
                Description:<br>
                <p>{{repo.description}} </p><br>
                Language:<br>
                <p> {{repo.language}} </p><br>
                Link:<br>
                <p>{{repo.link}}</p><br>
            </div>

        </ng-template>
    </ngb-panel>
</ngb-accordion>